
.container {
	display: flex;
}
.filter {
	flex-grow: 1;
	/* border: 5px solid black; */
	width: 30%;
	/* height: 30%; */
	padding: 10px 10px 10px 10px;
	/* display: inline-block; */
	background: #343a40;
	color: #fff;
	border-radius: 10px;
}
/* .sortby {
	height: 100%;
} */
.search {
	margin-left: 2%;
	height: 10%;
	align-self: flex-end;
}
.filter + .filter{
	margin-left: 2%;
  }
/* .sortby {
	border: 5px solid orange;
	width: 30%;
	padding: 5px 5px 5px 5px;
	display: inline-block;
}
.filter2 {
	border: 5px solid blue;
	width: 30%;
	padding: 5px 5px 5px 5px;
	display: inline-block;
} */
